*{
    margin: 0;
    padding: 0;
}

header{
    height: auto;
}

body{
    background-color: rgb(17, 25, 58);
}

.name{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.lirag{
    display: flex;
    margin: 10px;
    padding-left: 150px;
    margin-bottom: -20px;
    width: 50%;
    height: 50%;
}

.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(3, 16, 54);
    padding: 10px 20px 40px;
    border-bottom: 1px solid rgb(87, 97, 124);
}

.lefts{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    padding: 20px;
    padding-right: 150px;
}

.lefts a{
    margin: 50px;
    font-size: 20px;
    font-family:monospace;
    font-weight: bold;
    font-style: italic;
}

.clickable-paragraphs{
    color: white;
    text-decoration: underline;
    cursor: pointer;
    height: 0px;
}

.clickable-paragraphs:hover {
    text-shadow: 0 0 10px #4093f1ea, 0 0 20px #4093f1ea, 0 0 30px #4093f1ea;
}


.me{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 25, 58);
}

.me2 {
    width: 50%;
    height: 480px;
    display: flex;
    border: 2px solid rgb(87, 97, 124);
    border-radius: 12px;
    background: radial-gradient(circle, #03001c70, #03001C);
    padding-top: 50px;
    margin-top: 100px;
}

.one{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one p{
    margin-left: 70px;
    padding-top: 120px;
}

.two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 30px;
}

.picture{
    height: 300px;
    width: 300px;
    border-radius: 300px;
    border: 3px solid rgb(87, 97, 124);
}

.me2 h1{
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    font-family: monospace;
    color: white;
}

.me2 p{
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

.main{
    display: flex;
    gap: 270px;
    font-family: monospace;
    margin-top: 100px;
    margin-left: 120px;
}

.me3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    height: 50%;
    border: 1px solid white;
    border-radius: 12px;
    border: 2px solid rgb(87, 97, 124);
    background: radial-gradient(circle, #03001c70, #03001C);
    padding-bottom: 16px;
}

.me3 p{
    font-size: 25px;
    font-weight: lighter;
    color: white;
    margin: 20px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-top: 50px;
    margin-left: 260px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 10px;
    border: 2px solid rgb(87, 97, 124);
    border-radius: 12px;
    background-color: rgba(62, 114, 182, 0.555);
    cursor: pointer;
}

.me4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 50%;
    border: 1px solid white;
    border-radius: 12px;
    border: 2px solid rgb(87, 97, 124);
    background: radial-gradient(circle, #03001c70, #03001C);
}

.pc{
    font-size: 23.5px;
    font-weight: lighter;
    color: white;
    margin: 20px;
}

.pics{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 38%;
    height: 50%;
    border: 1px solid white;
    border-radius: 12px;
    border: 2px solid rgb(87, 97, 124);
    background: radial-gradient(circle, #03001c70, #03001C);
    margin-top: 100px;
    margin-bottom: 30px;
}

.pics p{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: monospace;
    color: white;

}

.skills{
    height: 80%;
    width: 50%;
}